@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    @Html.Partial("Partials/_Index/_Slider")
</div>
<div class="search">
    @Html.Partial("Partials/_Index/_Search")
</div>






